<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to "Home" ,static_pages_home_path %>
<%= link_to 'New User', new_user_path %>
  <%= will_paginate %>

  <div class="row">
    <div class="col-md-5">
     <%=  render @users %>
    </div>

  </div>


<br>
  <%= will_paginate %>

